In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_rows', None)

In [3]:
from geopy.geocoders import Nominatim
from geopy.distance import distance
import time

In [ ]:
df=pd.read_excel('청년몰주소(수정).xlsx')

In [5]:
df.head(10)

,행정동코드,시도명,시군구명,읍면동명,시장명,도로명주소,지번
0,4817056500,경상남도,진주시,중앙동,진주중앙지하도,NaN,경남 진주시 동성동 17
1,5113051500,강원특별자치도,원주시,중앙동,원주중앙시장,강원 원주시 중앙시장길 2,중앙동 60-1
2,4122061000,경기도,평택시,통복동,통복시장,경기 평택시 통복시장로25번길 10,통복동 70-29
3,4513060500,전라북도,군산시,중앙동,군산공설시장,전북 군산시 신금길 18 군산공설시장,신영동 18-1
4,4111574000,경기도,수원시 팔달구,행궁동,영동시장,경기 수원시 팔달구 수원천로255번길 6,영동 8
5,4313051500,충청북도,충주시,성내.충인동,관아골상가,충북 충주시 관아1길 14,성내동 428
6,4713055000,경상북도,경주시,성건동,북부상가시장,경북 경주시 금성로396번길 7,성건동 629-10
7,4413151000,충청남도,천안시 동남구,중앙동,천안명동상점가,충남 천안시 동남구 은행길 5-4,대흥동 79-4
8,1141058500,서울특별시,서대문구,신촌동,이대앞상점가,서울 서대문구 이화여대길 52,대현동 33-9
9,4719025000,경상북도,구미시,선산읍,선산봉황시장,경북 구미시 선산읍 단계동길 24 선산시장,완전리 253

# 진주시_중앙지하차도

In [ ]:
df1=pd.read_excel('주차장_10.xlsx',sheet_name='진주시')

In [7]:
df1[['위도','경도']].isna().sum()

위도    0
경도    0
dtype: int64

In [8]:
add = '경남 진주시 동성동 17'

geoloc = Nominatim(user_agent = 'South Korea', timeout=None)    # 사용자 에이전트를 설정
geo = geoloc.geocode(add)     # 주소로 위치 정보 가져오기
lat = str(geo.latitude)
log = str(geo.longitude)

print(lat)
print(log)

35.1918974
128.0852183

In [9]:
lat = 35.1918974 
log = 128.0852183  

df1['거리(km)'] = df1.apply(lambda row: distance((lat, log), (row['위도'], row['경도'])).km, axis=1)

# 원주시_원주중앙시장

In [ ]:
df2=pd.read_excel('주차장_10.xlsx',sheet_name='원주시')

In [11]:
df2[['위도','경도']].isna().sum()

위도    1
경도    1
dtype: int64

In [12]:
# Nominatim 인스턴스 생성
geoloc = Nominatim(user_agent='South Korea', timeout=None)

# '위도'와 '경도'가 NaN인 경우에만 주소를 조회하여 값 채우기
for i, row in df2.iterrows():
    if pd.isna(row['위도']) or pd.isna(row['경도']):  # 위도나 경도 값이 NaN인 경우
        try:
            geo = geoloc.geocode(row['소재지지번주소'])  # 주소를 위도, 경도로 변환
            if geo is not None:
                df2.at[i, '위도'] = geo.latitude
                df2.at[i, '경도'] = geo.longitude
            else:
                df2.at[i, '위도'] = None
                df2.at[i, '경도'] = None
        except Exception as e:
            df2.at[i, '위도'] = None
            df2.at[i, '경도'] = None
        time.sleep(1)  # API 요청 빈도를 조절하기 위해 1초 대기

In [13]:
add = '강원 원주시 중앙시장길 2'

geoloc = Nominatim(user_agent = 'South Korea', timeout=None)   
geo = geoloc.geocode(add)    
lat = str(geo.latitude)
log = str(geo.longitude)

print(lat)
print(log)

37.3519969
127.95189

In [14]:
lat = 37.3512764
log = 127.9506636

df2['거리(km)'] = df2.apply(lambda row: distance((lat, log), (row['위도'], row['경도'])).km, axis=1)

# 평택시_통북시장

In [ ]:
df3=pd.read_excel('주차장_10.xlsx',sheet_name='평택시')

In [16]:
df3[['위도','경도']].isna().sum()

위도    0
경도    0
dtype: int64

In [17]:
add = '경기 평택시 통복시장로25번길 10'

geoloc = Nominatim(user_agent = 'South Korea', timeout=None)    
geo = geoloc.geocode(add)   
lat = str(geo.latitude)
log = str(geo.longitude)

print(lat)
print(log)

36.9976391
127.0855557

In [18]:
lat = 36.9976391
log = 127.0855557

df3['거리(km)'] = df3.apply(lambda row: distance((lat, log), (row['위도'], row['경도'])).km, axis=1)

# 군산시_군산공설시장

In [ ]:
df4=pd.read_excel('주차장_10.xlsx',sheet_name='군산시')

In [20]:
df4[['위도','경도']].isna().sum()

위도    0
경도    0
dtype: int64

In [21]:
add = '전북 군산시 신금길 18'

geoloc = Nominatim(user_agent = 'South Korea', timeout=None)   
geo = geoloc.geocode(add)     
lat = str(geo.latitude)
log = str(geo.longitude)

print(lat)
print(log)

35.9846333
126.7219746

In [22]:
lat = 35.9846333
log = 126.7219746

df4['거리(km)'] = df4.apply(lambda row: distance((lat, log), (row['위도'], row['경도'])).km, axis=1)

# 수원시 팔달구_영동시장

In [ ]:
df5=pd.read_excel('주차장_10.xlsx',sheet_name='수원시 팔달구')

In [24]:
df5[['위도','경도']].isna().sum()

위도    0
경도    0
dtype: int64

In [25]:
# 인터넷 변환
lat = 37.276815687652
log = 127.018660256526

df5['거리(km)'] = df5.apply(lambda row: distance((lat, log), (row['위도'], row['경도'])).km, axis=1)

# 충주시_관아골상가

In [ ]:
df6=pd.read_excel('주차장_10.xlsx',sheet_name='충주시')

In [27]:
df6[['위도','경도']].isna().sum()

위도    0
경도    0
dtype: int64

In [28]:
add = '충북 충주시 관아1길 14'

geoloc = Nominatim(user_agent = 'South Korea', timeout=None)   
geo = geoloc.geocode(add)     
lat = str(geo.latitude)
log = str(geo.longitude)

print(lat)
print(log)

36.970806
127.9355656

In [29]:
lat = 36.970806
log = 127.9355656

df6['거리(km)'] = df6.apply(lambda row: distance((lat, log), (row['위도'], row['경도'])).km, axis=1)

# 경주시_북부상가시장

In [ ]:
df7=pd.read_excel('경주.xlsx')

In [31]:
df7[['Latitude','Longitude']].isna().sum()

Latitude     0
Longitude    0
dtype: int64

In [32]:
add = '경북 경주시 금성로396번길 7'

geoloc = Nominatim(user_agent = 'South Korea', timeout=None)   
geo = geoloc.geocode(add)     
lat = str(geo.latitude)
log = str(geo.longitude)

print(lat)
print(log)

35.8538912
129.2109349

In [33]:
lat = 35.8530445
log = 129.2073615

df7['거리(km)'] = df7.apply(lambda row: distance((lat, log), (row['Latitude'], row['Longitude'])).km, axis=1)

# 천안시 동남구_천안명동상점가

In [ ]:
df8=pd.read_excel('주차장_10.xlsx',sheet_name='천안시 동남구')

In [35]:
df8[['위도','경도']].isna().sum()

위도    0
경도    0
dtype: int64

In [36]:
# 인터넷 변환
lat = 36.8083119430011
log = 127.14857267546

df8['거리(km)'] = df8.apply(lambda row: distance((lat, log), (row['위도'], row['경도'])).km, axis=1)

# 서대문구_이대앞상점가

In [ ]:
df9=pd.read_excel('주차장_10.xlsx',sheet_name='서대문구')

In [38]:
df9[['위도','경도']].isna().sum()

위도    0
경도    0
dtype: int64

In [39]:
add = '서울 서대문구 이화여대길 52'

geoloc = Nominatim(user_agent = 'South Korea', timeout=None)   
geo = geoloc.geocode(add)     
lat = str(geo.latitude)
log = str(geo.longitude)

print(lat)
print(log)

37.5643371
126.94689253689391

In [40]:
lat = 37.5643371
log = 126.94689253689391

df9['거리(km)'] = df9.apply(lambda row: distance((lat, log), (row['위도'], row['경도'])).km, axis=1)

# 구미시_선산봉황시장

In [ ]:
df10=pd.read_excel('주차장_10.xlsx',sheet_name='구미시')

In [42]:
df10[['위도','경도']].isna().sum()

위도    0
경도    0
dtype: int64

In [43]:
# 인터넷 변환
lat = 36.2395185662056
log = 128.300920980941

df10['거리(km)'] = df10.apply(lambda row: distance((lat, log), (row['위도'], row['경도'])).km, axis=1)

In [ ]:
file_name = '주차장_10_거리추가.xlsx'

# ExcelWriter를 사용하여 하나의 엑셀 파일에 여러 시트 저장
with pd.ExcelWriter(file_name, engine='openpyxl') as writer:
    df1.to_excel(writer, sheet_name='진주시', index=False)
    df2.to_excel(writer, sheet_name='원주시', index=False)
    df3.to_excel(writer, sheet_name='평택시', index=False)
    df4.to_excel(writer, sheet_name='군산시', index=False)
    df5.to_excel(writer, sheet_name='수원시 팔달구', index=False)
    df6.to_excel(writer, sheet_name='충주시', index=False)
    df7.to_excel(writer, sheet_name='경주시', index=False)
    df8.to_excel(writer, sheet_name='천안시 동남구', index=False)
    df9.to_excel(writer, sheet_name='서대문구', index=False)
    df10.to_excel(writer, sheet_name='구미시', index=False)